*{
    font-family: "Montserrat", sans-serif;
    margin:0;
    /* background-color: black; */
    color: white;
    
}

body{
    background-color: black;
    overflow: hidden;
    margin: 0;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex:1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
}

a{
    text-decoration: none;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    background-color: #121212;
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 8px;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.nav-option:hover{
    opacity: 1;
    cursor: pointer;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    
}

.options{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}

.lib-options{
     display: flex;
     align-items: center;
     gap: 1rem;
}

.icons{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.icons i{
    opacity: 0.7;
}

.icons i:hover{
    opacity: 1;
    cursor: pointer;
}

p{
    margin: 0;
}

.box{
    height: 10rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.75;
    margin-bottom: 1rem;
}

.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: black;
    margin-top: 0.5rem;
    height: 2rem;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}

.sticky-nav-icons{
    margin-left: 0.5rem;
}

.sticky-nav-icons img{
    height: 1.5rem;
    padding: 4px;
}

.sticky-nav-icons img:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    margin-right: 1rem;
}

.dark-badge{
    background-color: black;
    color: white;
    opacity: 0.7;
}

.dark-badge:hover{
    opacity: 1;
    cursor: pointer;
}

.user-icon{
    opacity: 0.7;;
}

.user-icon:hover{
    opacity: 1;
    cursor: pointer;
}

@media (max-width:1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0 1rem 1.5rem;
}

.card:hover{
    box-shadow: 2px 2px 2px grey;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-text{
    font-size: 0.85rem;
    opacity: 0.5;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album{
    width: 25%;
}

.player{
    width: 50%;
}

.controls{
    width: 25%;
}

.player-controls{
     display: flex;
    justify-content:center;
    align-items: center;
}

.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
    cursor: pointer;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.album{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.song{
    height: 3.5rem;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-title{
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
}

.song-artist{
    font-weight: 400;
    font-size: 0.85rem;
    opacity: 0.7;
    margin: 0;
}

.song-title:hover,.song-artist:hover{
    text-decoration: underline;
    opacity: 1;
    cursor: pointer;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-icon{
   margin-left: 1rem;
   opacity: 0.7;
}

.control-icon:hover{
    opacity: 1;
    cursor: pointer;
}

.progress-bar2{
    width: 30%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar2::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar2::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.badge:hover{
    transform: scale(1.01);
    cursor: pointer;
}